In [1]:
import pandas as pd
import plotly.express as px

# 서울 특별시 자동차 등록수 전처리

In [ ]:
# 자료 불러오기

In [13]:
df_2018 = pd.read_csv('./data/서울특별시 행정동별 친환경자동차 현황-제원번호 포함 자료(2018).csv', encoding = 'cp949')

In [14]:
df_2019 = pd.read_csv('./data/서울특별시 행정동별 친환경자동차 현황-제원번호 포함 자료(2019).csv', encoding = 'cp949')

In [15]:
df_2020 = pd.read_csv('./data/서울특별시 행정동별 친환경자동차 현황-제원번호 포함 자료(2020).csv', encoding = 'cp949')

In [16]:
df_2021 = pd.read_csv('./data/서울특별시 행정동별 친환경자동차 현황-제원번호 포함 자료(2021).csv', encoding = 'cp949')

In [17]:
df_2022 = pd.read_csv('./data/서울특별시 행정동별 친환경자동차 현황-제원번호 포함 자료(2022).csv', encoding = 'cp949')

In [29]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84540 entries, 0 to 84539
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준년도             84540 non-null  object
 1   사용본거지시읍면동_행정동기준  84522 non-null  object
 2   차명               84540 non-null  object
 3   연료               84540 non-null  object
 4   최초등록일            84540 non-null  int64
 5   현소유자의출생년도        63085 non-null  float64
 6   제원관리번호           84540 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 4.5+ MB

In [ ]:
# 기준년월 칼럼값변경

In [28]:
df_2018['기준년도'] = "2018"

In [30]:
df_2019['기준년월'] = '2019'

In [31]:
df_2020['기준년월'] = '2020'

In [32]:
df_2021['기준년월'] = '2021'

In [33]:
df_2022['기준년월'] = '2022'

In [ ]:
# 기준년월 컬럼명 변경

In [26]:
df_2018.rename(columns = {"기준년월" : "기준년도"}, inplace = True)

In [34]:
df_2019.rename(columns = {"기준년월" : "기준년도"}, inplace = True)

In [35]:
df_2020.rename(columns = {"기준년월" : "기준년도"}, inplace = True)

In [36]:
df_2021.rename(columns = {"기준년월" : "기준년도"}, inplace = True)

In [37]:
df_2022.rename(columns = {"기준년월" : "기준년도"}, inplace = True)

In [ ]:
# 필요없는 데이터 컬럼 삭제

In [54]:
df_2022.drop(['최초등록일' , '현소유자의출생년도', '제원관리번호'], axis = 1 , inplace = True)

In [55]:
df_2022

        기준년도 사용본거지시읍면동_행정동기준                    차명             연료
0       2022  서울특별시 강남구 개포1동   토요타 RAV4 Hybrid AWD  하이브리드(휘발유+전기)
1       2022  서울특별시 강남구 개포1동             그랜저 하이브리드  하이브리드(휘발유+전기)
2       2022  서울특별시 강남구 개포1동      토요타 Camry Hybrid  하이브리드(휘발유+전기)
3       2022  서울특별시 강남구 개포1동            렉서스 ES300h  하이브리드(휘발유+전기)
4       2022  서울특별시 강남구 개포1동   토요타 RAV4 Hybrid AWD  하이브리드(휘발유+전기)
...      ...             ...                   ...            ...
189581  2022  서울특별시 중랑구 중화2동      토요타 Camry Hybrid  하이브리드(휘발유+전기)
189582  2022  서울특별시 중랑구 중화2동   그랜저(GRANDEUR) 하이브리드  하이브리드(휘발유+전기)
189583  2022  서울특별시 중랑구 중화2동              니로 하이브리드  하이브리드(휘발유+전기)
189584  2022  서울특별시 중랑구 중화2동  포터Ⅱ 일렉트릭 (PORTERⅡ EL             전기
189585  2022             NaN              K5 하이브리드  하이브리드(휘발유+전기)

[189586 rows x 4 columns]

In [ ]:
# 1차 전처리한 데이터 csv형식으로 저장

In [59]:
df_2018.to_csv('2018년도 전기차 현황.csv', encoding = 'cp949')

In [60]:
df_2019.to_csv('2019년도 전기차 현황.csv', encoding = 'cp949')

In [61]:
df_2020.to_csv('2020년도 전기차 현황.csv', encoding = 'cp949')

In [62]:
df_2021.to_csv('2021년도 전기차 현황.csv', encoding = 'cp949')

In [63]:
df_2022.to_csv('2022년도 전기차 현황.csv', encoding = 'cp949')

# 1차 전처리한 데이터로 진행

In [28]:
df_2018 = pd.read_csv('./Data/2018년도 전기차 현황.csv', encoding = 'cp949', index_col = 0)

In [29]:
df_2019 = pd.read_csv('./Data/2019년도 전기차 현황.csv', encoding = 'cp949', index_col = 0)

In [30]:
df_2020 = pd.read_csv('./Data/2020년도 전기차 현황.csv', encoding = 'cp949', index_col = 0)

In [31]:
df_2021 = pd.read_csv('./Data/2021년도 전기차 현황.csv', encoding = 'cp949', index_col = 0)

In [32]:
df_2022 = pd.read_csv('./Data/2022년도 전기차 현황.csv', encoding = 'cp949', index_col = 0)

In [ ]:
# nan값 확인 및 삭제

In [33]:
df_2018.isnull().sum()

기준년도                0
사용본거지시읍면동_행정동기준    18
차명                  0
연료                  0
dtype: int64

In [34]:
df_2018[df_2018['사용본거지시읍면동_행정동기준'].isnull()]

       기준년도 사용본거지시읍면동_행정동기준                    차명             연료
2232   2018             NaN              K5 하이브리드  하이브리드(휘발유+전기)
4460   2018             NaN             토요타 Prius  하이브리드(휘발유+전기)
4461   2018             NaN   그랜저(GRANDEUR) 하이브리드  하이브리드(휘발유+전기)
4925   2018             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
5706   2018             NaN  아반떼 하이브리드(AVANTE HYB  하이브리드(LPG+전기)
19977  2018             NaN  그랜저 하이브리드 (GRANDEUR   하이브리드(휘발유+전기)
28685  2018             NaN            렉서스 RX450h  하이브리드(휘발유+전기)
33120  2018             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
36334  2018             NaN  그랜저 하이브리드 (GRANDEUR   하이브리드(휘발유+전기)
36912  2018             NaN              K5 하이브리드  하이브리드(휘발유+전기)
37058  2018             NaN              K5 하이브리드  하이브리드(휘발유+전기)
47561  2018             NaN    쏘나타 (SONATA) 하이브리드  하이브리드(휘발유+전기)
61445  2018             NaN               INSIGHT  하이브리드(휘발유+전기)
66386  2018             NaN            렉서스 NX300h  하이브리드(휘발유+전기)
66387  2018             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
71550  2018             NaN                BMW i3             전기
72665  2018             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
80231  2018             NaN            렉서스 ES300h  하이브리드(휘발유+전기)

In [101]:
df_2019.isnull().sum()

기준년도                0
사용본거지시읍면동_행정동기준    15
차명                  0
연료                  0
dtype: int64

In [99]:
df_2019[df_2019['사용본거지시읍면동_행정동기준'].isnull()]

        기준년도 사용본거지시읍면동_행정동기준                    차명             연료
16827   2019             NaN            렉서스 NX300h  하이브리드(휘발유+전기)
42847   2019             NaN  그랜저 하이브리드 (GRANDEUR   하이브리드(휘발유+전기)
50406   2019             NaN               INSIGHT  하이브리드(휘발유+전기)
59215   2019             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
62462   2019             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
66902   2019             NaN              K5 하이브리드  하이브리드(휘발유+전기)
74072   2019             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
80441   2019             NaN            렉서스 RX450h  하이브리드(휘발유+전기)
86602   2019             NaN              K5 하이브리드  하이브리드(휘발유+전기)
89595   2019             NaN              K5 하이브리드  하이브리드(휘발유+전기)
91682   2019             NaN  아반떼 하이브리드(AVANTE HYB  하이브리드(LPG+전기)
93442   2019             NaN   그랜저(GRANDEUR) 하이브리드  하이브리드(휘발유+전기)
103801  2019             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
104208  2019             NaN  그랜저 하이브리드 (GRANDEUR   하이브리드(휘발유+전기)
106086  2019             NaN              K5 하이브리드  하이브리드(휘발유+전기)

In [102]:
df_2020.isnull().sum()

기준년도                0
사용본거지시읍면동_행정동기준    11
차명                  0
연료                  0
dtype: int64

In [105]:
df_2020[df_2020['사용본거지시읍면동_행정동기준'].isnull()]

        기준년도 사용본거지시읍면동_행정동기준                    차명             연료
36923   2020             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
48459   2020             NaN              K5 하이브리드  하이브리드(휘발유+전기)
55030   2020             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
55222   2020             NaN               INSIGHT  하이브리드(휘발유+전기)
59625   2020             NaN              K5 하이브리드  하이브리드(휘발유+전기)
73601   2020             NaN            렉서스 RX450h  하이브리드(휘발유+전기)
82663   2020             NaN            렉서스 NX300h  하이브리드(휘발유+전기)
92360   2020             NaN              K5 하이브리드  하이브리드(휘발유+전기)
107939  2020             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
118404  2020             NaN  그랜저 하이브리드 (GRANDEUR   하이브리드(휘발유+전기)
140015  2020             NaN   그랜저(GRANDEUR) 하이브리드  하이브리드(휘발유+전기)

In [103]:
df_2021.isnull().sum()

기준년도                0
사용본거지시읍면동_행정동기준    11
차명                  0
연료                  0
dtype: int64

In [106]:
df_2021[df_2021['사용본거지시읍면동_행정동기준'].isnull()]

        기준년도 사용본거지시읍면동_행정동기준                    차명             연료
7385    2021             NaN              K5 하이브리드  하이브리드(휘발유+전기)
43428   2021             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
45554   2021             NaN   그랜저(GRANDEUR) 하이브리드  하이브리드(휘발유+전기)
48171   2021             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
62257   2021             NaN              K5 하이브리드  하이브리드(휘발유+전기)
90611   2021             NaN               INSIGHT  하이브리드(휘발유+전기)
124065  2021             NaN  그랜저 하이브리드 (GRANDEUR   하이브리드(휘발유+전기)
134770  2021             NaN            렉서스 NX300h  하이브리드(휘발유+전기)
166329  2021             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
169686  2021             NaN            렉서스 RX450h  하이브리드(휘발유+전기)
176128  2021             NaN              K5 하이브리드  하이브리드(휘발유+전기)

In [104]:
df_2022.isnull().sum()

기준년도                0
사용본거지시읍면동_행정동기준    11
차명                  0
연료                  0
dtype: int64

In [108]:
df_2022[df_2022['사용본거지시읍면동_행정동기준'].isnull()]

        기준년도 사용본거지시읍면동_행정동기준                    차명             연료
14729   2022             NaN            렉서스 RX450h  하이브리드(휘발유+전기)
24829   2022             NaN               INSIGHT  하이브리드(휘발유+전기)
39497   2022             NaN  그랜저 하이브리드 (GRANDEUR   하이브리드(휘발유+전기)
53971   2022             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
88938   2022             NaN   그랜저(GRANDEUR) 하이브리드  하이브리드(휘발유+전기)
101499  2022             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
133656  2022             NaN              K5 하이브리드  하이브리드(휘발유+전기)
173526  2022             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
177254  2022             NaN              K5 하이브리드  하이브리드(휘발유+전기)
186849  2022             NaN            렉서스 NX300h  하이브리드(휘발유+전기)
189585  2022             NaN              K5 하이브리드  하이브리드(휘발유+전기)

In [ ]:
# nan값이 있었지만 해당 데이터가 전기차 데이터가 아니어서 삭제함

In [39]:
df_2021.dropna(inplace = True)

In [ ]:
# 하나의 데이터 프레임으로 합치기

In [40]:
df2018_2022 = pd.concat([df_2018, df_2019, df_2020, df_2021, df_2022], ignore_index = True)

In [41]:
df2018_2022

        기준년도 사용본거지시읍면동_행정동기준                    차명             연료
0       2018  서울특별시 강남구 압구정동    쏘나타 (SONATA) 하이브리드  하이브리드(휘발유+전기)
1       2018  서울특별시 강남구 압구정동            렉서스 ES300h  하이브리드(휘발유+전기)
2       2018  서울특별시 강남구 압구정동    쏘나타 (SONATA) 하이브리드  하이브리드(휘발유+전기)
3       2018  서울특별시 강남구 압구정동    쏘나타 (SONATA) 하이브리드  하이브리드(휘발유+전기)
4       2018  서울특별시 강남구 압구정동            렉서스 ES300h  하이브리드(휘발유+전기)
...      ...             ...                   ...            ...
705360  2022  서울특별시 중랑구 중화2동             쏘렌토 하이브리드  하이브리드(휘발유+전기)
705361  2022  서울특별시 중랑구 중화2동      토요타 Camry Hybrid  하이브리드(휘발유+전기)
705362  2022  서울특별시 중랑구 중화2동   그랜저(GRANDEUR) 하이브리드  하이브리드(휘발유+전기)
705363  2022  서울특별시 중랑구 중화2동              니로 하이브리드  하이브리드(휘발유+전기)
705364  2022  서울특별시 중랑구 중화2동  포터Ⅱ 일렉트릭 (PORTERⅡ EL             전기

[705365 rows x 4 columns]

In [ ]:
# 2018년도에서 2022년도까지의 자동차 등록 데이터에서 전기차 데이터만 데이터프레임으로 만들기

In [42]:
df = df2018_2022[df2018_2022['연료'] == '전기']

In [43]:
df.reset_index(drop = False, inplace = True)

In [44]:
df.drop('index', axis = 1, inplace = True)

C:\Users\YONSAI\AppData\Local\Temp\ipykernel_8956\3428817810.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('index', axis = 1, inplace = True)

In [ ]:
# 2018년도 서울특별시 전기차 등록수 9560대
# 2019년도 서울특별시 전기차 등록수 14947대
# 2020년도 서울특별시 전기차 등록수 23384대
# 2021년도 서울특별시 전기차 등록수 40544대
# 2022년도2월까지 서울특별시 전기차 등록수 41673대
# 총 등록된 전기차 수 130108

In [45]:
df

        기준년도 사용본거지시읍면동_행정동기준                      차명  연료
0       2018  서울특별시 송파구 잠실6동    아이오닉 일렉트릭(IONIQ ELEC  전기
1       2018  서울특별시 강남구 역삼1동                   TWIZY  전기
2       2018  서울특별시 구로구 개봉1동                   쏘울 EV  전기
3       2018  서울특별시 강동구 천호3동  코나 일렉트릭 (KONA ELECTRIC  전기
4       2018   서울특별시 송파구 장지동  코나 일렉트릭 (KONA ELECTRIC  전기
...      ...             ...                     ...  ..
130103  2022  서울특별시 중랑구 중화1동                   니로 EV  전기
130104  2022  서울특별시 중랑구 중화1동      Model Y Long Range  전기
130105  2022  서울특별시 중랑구 중화1동    포터Ⅱ 일렉트릭 (PORTERⅡ EL  전기
130106  2022  서울특별시 중랑구 중화2동                   니로 EV  전기
130107  2022  서울특별시 중랑구 중화2동    포터Ⅱ 일렉트릭 (PORTERⅡ EL  전기

[130108 rows x 4 columns]

In [47]:
df.to_csv('년도별 전기차 현황 정보.csv', encoding = 'cp949')

In [48]:
df['사용본거지시읍면동_행정동기준'].value_counts()

서울특별시 강남구 대치4동     16275
서울특별시 강남구 대치1동      9949
서울특별시 강남구 대치2동      6823
서울특별시 영등포구 여의동      6159
서울특별시 서초구 서초1동      3428
                   ...
서울특별시 종로구 창신2동        21
서울특별시 강동구 둔촌1동        20
서울특별시 종로구 창신1동        19
서울특별시 종로구 숭인2동        19
서울특별시 강동구 상일제2동       19
Name: 사용본거지시읍면동_행정동기준, Length: 427, dtype: int64

In [75]:
df['기준년도'].value_counts()

2022    41673
2021    40544
2020    23384
2019    14947
2018     9560
Name: 기준년도, dtype: int64

# 서울특별시 전기차 충전소 전처리

In [2]:
df_ch = pd.read_excel('./Data/전기차 충전소 설치현황_20221206.xls', header=2)

In [3]:
df_ch.drop(['시구', '설치장소'], axis = 1, inplace = True)

In [4]:
df_ch.head()

,주소,급속충전기(대),완속충전기(대),지원차종
0,경기도 가평군 가평읍 대곡리 213-5,1,0,"SM3 Z.E,테슬라"
1,경기도 가평군 가평읍 대곡리 316,2,0,"BMW i3,스파크EV,볼트EV"
2,경기도 가평군 가평읍 가화로 169-11,1,1,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E..."
3,경기도 가평군 가평읍 달전리 364,1,0,"SM3 Z.E,테슬라"
4,경기도 가평군 상면 연하리 171-1,1,0,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E..."

In [49]:
df_ch['주소'].value_counts()

-                               24
서울특별시 마포구 아현동 마포대로 195           4
경기도 의왕시 내손동 846                  4
부산광역시 남구 용호동 176-30              4
전라남도 나주시 빛가람동 120                3
                                ..
전라남도 무안군 삼향읍 남악리 2601            1
전라남도 무안군 일로읍 청호리 산 23-65(상행)     1
전라남도 무안군 망운면 피서리 1065            1
전라남도 무안군 무안읍 교촌리 70-2            1
강원도 횡성군 횡성읍 읍하리 561-7            1
Name: 주소, Length: 4594, dtype: int64

In [8]:
df_ch_seoul = df_ch[df_ch['주소'].str.contains('서울특별시')]

In [79]:
for i in df_ch_seoul['주소']:
    print(i.split(' ')[1:4])

['강남구', '자곡동']
['강남구', '논현동']
['강남구', '일원동']
['강남구', '삼성동']
['강남구', '세곡동']
['강남구', '수서동']
['강남구', '도곡동']
['강남구', '자곡동']
['강남구', '율현동']
['강남구', '율현동']
['강남구', '자곡동']
['강남구', '역삼동']
['강남구', '역삼동']
['강남구', '일원동']
['강남구', '역삼동']
['강남구', '삼성동']
['강남구', '대치동']
['강남구', '대치동']
['강남구', '도곡동']
['강남구', '논현동']
['강남구', '대치동']
['강남구', '삼성동']
['강남구', '자곡동']
['강남구', '역삼동']
['강남구', '대치동']
['강남구', '대치동']
['강남구', '삼성동']
['강남구', '삼성동']
['강남구', '삼성동']
['강남구', '삼성동']
['강남구', '삼성동']
['강남구', '삼성동']
['강남구', '삼성동']
['강남구', '삼성동']
['강남구', '일원동']
['강남구', '세곡동']
['강남구', '세곡동']
['강남구', '세곡동']
['강남구', '세곡동']
['강남구', '삼성동']
['강남구', '논현동']
['강남구', '신사동']
['강남구', '역삼동']
['강남구', '역삼동']
['강남구', '역삼동']
['강남구', '대치동']
['강남구', '청담동']
['강남구', '청담동']
['강남구', '청담동']
['강남구', '도곡동']
['강남구', '도곡동']
['강남구', '도곡동']
['강남구', '율현동']
['강남구', '역삼동']
['강남구', '길동']
['강남구', '성내동']
['강남구', '둔촌동']
['강남구', '상일동']
['강남구', '천호동']
['강동구', '강일동']
['강동구', '강일동']
['강동구', '강일동']
['강동구', '강일동']
['강동구', '강일동']
['강동구', '강일동']
['강남구', '성내동']
['강동구', '강일동']
['강동구', '강일동']
['강동구', '고덕동']
['강남구', '길동']
['강동구', '천호동', '']
['강남구', '둔촌동']
['강동구', '명일동', '']
['강동구', '명일동', '']
['강동구', '명일동', '']
['강남구', '성내동']
['강남구', '성내동']
['강남구', '성내동']
['강남구', '둔촌동']
['강동구', '암사동', '']
['강남구', '둔촌동']
['강남구', '천호동']
['강남구', '천호동']
['강동구', '암사동', '']
['강동구', '천호동', '']
['강동구', '천호동', '']
['강동구', '천호동', '']
['강동구', '암사동', '']
['강북구', '수유동', '']
['강북구', '미아동', '']
['강북구', '미아동', '']
['강북구', '미아동', '']
['강북구', '미아동', '']
['강북구', '미아동', '']
['강북구', '번동', '']
['강북구', '번동', '']
['강북구', '번동', '']
['강서구', '염창동', '']
['강서구', '화곡동', '']
['강서구', '가양동', '']
['강서구', '마곡동', '']
['강서구', '마곡동', '']
['강서구', '내발산동', '']
['강서구', '내발산동', '']
['강서구', '내발산동', '']
['강서구', '내발산동', '']
['강서구', '내발산동', '']
['강서구', '내발산동', '']
['강서구', '마곡동', '']
['강서구', '마곡동', '']
['강서구', '마곡동', '']
['강서구', '마곡동', '']
['강서구', '마곡동', '']
['강서구', '마곡동', '']
['강서구', '등촌동', '']
['강서구', '방화동', '']
['강서구', '방화동', '']
['강서구', '마곡동', '']
['강서구', '염창동', '']
['강서구', '과해동', '']
['강서구', '방화동', '']
['강서구', '등촌동', '']
['강서구', '화곡동', '']
['관악구', '봉천동', '']
['관악구', '신림동', '']
['관악구', '봉천동', '']
['관악구', '신림동', '']
['관악구', '봉천동', '']
['관악구', '신림동', '']
['관악구', '봉천동', '']
['관악구', '봉천동', '']
['관악구', '봉천동', '']
['관악구', '신림동', '']
['관악구', '신림동', '']
['관악구', '신림동', '']
['관악구', '신림동', '']
['관악구', '신림동', '']
['관악구', '봉천동', '']
['관악구', '신림동', '']
['광진구', '구의동', '546-4']
['광진구', '광장동', '아차산로']
['광진구', '자양로', '117']
['광진구', '자양동', '구의강변로1길']
['광진구', '구의동', '199-18']
['광진구', '구의동', '199-18']
['광진구', '자양동', '아차산로']
['광진구', '자양3동', '510-8']
['광진구', '자양동', '뚝섬로34길']
['광진구', '뚝섬로', '52길']
['광진구', '자양동', '아차산로36길']
['광진구', '광장동', '353']
['구로구', '개봉동', '477']
['구로구', '개봉동', '475']
['구로구', '고척동', '경인로47길']
['구로구', '고척동', '340']
['구로구', '고척로', '45길']
['구로구', '고척동', '경인로']
['구로구', '고척동', '63-6']
['구로구', '고척동', '339']
['구로구', '구로동', '741-44']
['구로구', '구로동', '435']
['구로구', '구로동', '139-82']
['구로구', '구로동', '256-1']
['구로구', '구로동', '가마산로']
['구로구', '구로동', '102']
['구로구', '구로동', '102']
['구로구', '구로동', '1269']
['구로구', '구로동', '1283']
['구로구', '고척동', '327']
['구로구', '구로동', '1263']
['구로구', '구로동', '501']
['구로구', '구로동', '46-7']
['구로구', '신도림동', '신도림로']
['구로구', '신도림로', '87']
['구로구', '오류동', '346']
['구로구', '오류동', '오류로']
['구로구', '천왕동', '천왕로']
['구로구', '천왕동', '천왕로']
['구로구', '천왕동', '천왕로']
['구로구', '가리봉동', '1-11']
['구로구', '항동', '119-12']
['금천구', '독산동', '1148']
['금천구', '시흥동', '1020']
['금천구', '시흥동', '시흥대로']
['금천구', '독산동', '152-1']
['금천구', '가산디지털1로', '33-33']
['금천구', '범안로', '17길']
['노원구', '공릉동', '섬밭로']
['노원구', '공릉동', '91']
['노원구', '공릉동', '동일로175길']
['노원구', '공릉동', '동일로195길']
['노원구', '공릉동', '492-1']
['노원구', '공릉동', '공릉로']
['노원구', '공릉동', '공릉로27길']
['노원구', '공릉동', '화랑로51길']
['노원구', '공릉동', '섬밭로']
['노원구', '상계동', '701-1']
['노원구', '상계동', '700']
['노원구', '상계동', '상계로7길']
['노원구', '공릉동', '670-20']
['노원구', '공릉동', '섬밭로']
['노원구', '공릉동', '공릉로']
['노원구', '중계동', '중계로']
['노원구', '중계동', '노원로22길']
['노원구', '상계동', '동일로250길']
['노원구', '중계동', '508']
['노원구', '공릉동', '26-21']
['노원구', '상계동', '덕릉로']
['노원구', '상계동', '상계로5길']
['노원구', '상계동', '한글비석로52길']
['노원구', '상계동', '652']
['노원구', '상계동', '624']
['노원구', '공릉동', '172']
['노원구', '상계동', '누원로']
['노원구', '월계동', '석계로13길']
['노원구', '월계동', '화랑로']
['노원구', '월계동', '초안산로']
['노원구', '노원길', '130']
['노원구', '노원로22길', '71']
['노원구', '섬밭로', '265']
['노원구', '중계동', '중계로14나길']
['노원구', '덕릉로70가길', '21']
['노원구', '중계동', '덕릉로']
['노원구', '중계동', '덕릉로76길']
['노원구', '한글비석로', '15길']
['노원구', '하계동', '동일로207길']
['노원구', '공릉동', '215-4']
['노원구', '중계동', '중계로8길']
['노원구', '공릉동', '화랑로51길']
['도봉구', '방학동', '720-1']
['도봉구', '방학동', '632-1']
['도봉구', '도봉로', '552']
['도봉구', '마들로', '656']
['도봉구', '마들로', '684-20']
['도봉구', '마들로', '735-8']
['도봉구', '창동', '노해로69길']
['도봉구', '방학동', '498-16']
['도봉구', '방학동', '방학로']
['도봉구', '방학동', '방학로12길']
['도봉구', '시루봉로', '11길']
['도봉구', '방학동', '도봉로150바길']
['도봉구', '방학동', '도봉로150길']
['도봉구', '방학동', '해등로']
['도봉구', '우이천로', '367']
['도봉구', '도봉동', '도봉산길']
['도봉구', '시루봉로2길', '62']
['도봉구', '쌍문동', '우이천로30길']
['도봉구', '시루봉로', '58']
['도봉구', '창동', '462-2']
['도봉구', '창동', '도봉로136길']
['도봉구', '창동', '도봉로']
['도봉구', '창동', '도봉로']
['도봉구', '덕릉로63가길', '43']
['도봉구', '창동', '마들로']
['도봉구', '노해로70길', '126']
['도봉구', '창동', '노해로']
['도봉구', '덕릉로', '60길']
['도봉구', '창동', '덕릉로60바길']
['도봉구', '쌍문동', '388-1']
['도봉구', '도봉로', '678']
['도봉구', '방학동', '방학로11길']
['동대문구', '답십리로', '130']
['동대문구', '답십리로', '130']
['동대문구', '휘경동', '366']
['동대문구', '답십리동', '한천로37길']
['동대문구', '휘경동', '286-66']
['동대문구', '휘경동', '망우로20길']
['동대문구', '이문동', '한천로58길']
['동대문구', '장안동', '장안벚꽃로1길']
['동대문구', '전농동', '10']
['동대문구', '왕산로', '214']
['동대문구', '답십리동', '80']
['null', 'null', 'null']
['동대문구', '휘경동', '52']
['동대문구', '휘경동', '57']
['동대문구', '답십리동', '465-18']
['동작구', '동작대로', '19']
['동작구', '대방동', '여의대방로44길']
['동작구', '대방동', '67-1']
['동작구', '상도동', '양녕로']
['동작구', '신대방동', '신대방1가길']
['동작구', '대방동', '상도로']
['동작구', '신대방동', '보라매로5가길']
['동작구', '상도동', '301-132']
['동작구', '사당동', '사당로27길']
['동작구', '상도동', '상도로60길']
['동작구', '상도동', '등용로']
['동작구', '상도동', '장승배기로']
['동작구', '대방동', '345-1']
['동작구', '신대방동', '여의대방로10길']
['동작구', '신대방동', '여의대방로']
['동작구', '동작동', '동작대로39길']
['동작구', '흑석동', '흑석한강로']
['동작구', '상도동', '상도로']
['마포구', '용강동', '토정로31길']
['마포구', '만리재로', '36']
['마포구', '연남동', '동교로39길']
['마포구', '용강동', '토정로31길']
['마포구', '상수동', '독막로20나길']
['마포구', '상수동', '독막로20나길']
['마포구', '공덕동', '마포대로']
['마포구', '용강동', '마포대로1길']
['마포구', '도화동', '삼개로']
['마포구', '아현동', '마포대로']
['마포구', '아현동', '마포대로']
['마포구', '아현동', '마포대로']
['마포구', '아현동', '마포대로']
['마포구', '토정로37길', '38']
['마포구', '대흥동', '804']
['마포구', '성산동', '275-3']
['마포구', '아현동', '738']
['마포구', '합정동', '473']
['마포구', '월드컵로1길', '14']
['마포구', '양화로', '45']
['마포구', '신공덕동', '백범로']
['마포구', '성산동', '531']
['마포구', '상암동', '월드컵로']
['마포구', '공덕동', '105-1']
['마포구', '공덕동', '168']
['마포구', '도화동', '큰우물로']
['마포구', '신공덕동', '만리재로']
['마포구', '노고산동', '1-3']
['마포구', '마포동', '마포대로']
['마포구', '합정동', '55-1']
['마포구', '창전동', '서강로']
['마포구', '토정동', '토정로32길']
['서대문구', '북가좌동', '481']
['서대문구', '남가좌동', '388']
['서대문구', '북가좌동', '458']
['서대문구', '남가좌동', '377']
['서대문구', '냉천동', '261']
['서대문구', '홍제동', '453-1']
['서대문구', '홍제동', '38-69']
['서대문구', '신촌동', '134']
['서대문구', '신촌동', '134']
['서대문구', '연희동', '739']
['서대문구', '연희동', '736']
['서대문구', '연희로32길', '48']
['서대문구', '홍제동', '469']
['서대문구', '홍은동', '11-23']
['서초구', '우면동', '788']
['서초구', '우면동', '368-1']
['서초구', '서초동', '1355']
['서초구', '양재동', '399']
['서초구', '반포동', '산']
['서초구', '우면동', '763']
['서초구', '염곡동', '300-9']
['서초구', '양재동', '370-5']
['서초구', '서초동', '1642-34']
['서초구', '서초동', '1301-6']
['서초구', '방배동', '754-1']
['서초구', '방배동', '755-14']
['서초구', '반포동', '730-2']
['서초구', '반포동', '30-26']
['서초구', '반포동', '60-4']
['서초구', '방배동', '884-2']
['서초구', '방배동', '797-30']
['서초구', '방배동', '3275']
['서초구', '방배동', '424-28']
['서초구', '방배동', '844-1']
['서초구', '방배동', '495-3']
['서초구', '반포동', '동광로32길']
['서초구', '내곡동', '6-7']
['서초구', '서초동', '1529']
['서초구', '서초동', '1456-2']
['서초구', '우면동', '707']
['서초구', '우면동', '737']
['서초구', '우면동', '735']
['서초구', '내곡동', '77']
['서초구', '서초동', '1542-1']
['서초구', '서초동', '1642-14']
['서초구', '서초동', '1681-8']
['서초구', '서초동', '1444-19']
['서초구', '서초동', '1568-1']
['서초구', '효령로', '72길']
['서초구', '신원동', '374']
['서초구', '우면동', '753']
['서초구', '우면동', '773']
['서초구', '반포동', '19-3']
['서초구', '반포동', '2-12']
['서초구', '양재동', '212']
['서초구', '양재동', '215']
['서초구', '서초동', '산']
['서초구', '서초동', '1549-3']
['서초구', '잠원동', '10-33']
['서초구', '잠원로3길', '40']
['서초구', '염곡동', '304-3']
['서초구', '서초동', '1338']
['서초구', '방배동', '774-19']
['서초구', '방배동', '772-13']
['성동구', '금호동1가', '금호로']
['성동구', '마장로27길', '13']
['성동구', '금호동4가', '56']
['성동구', '금호동2가', '금호로']
['성동구', '성수동1가', '685-63번지']
['성동구', '응봉동', '고산자로4길']
['성동구', '자동차시장길', '49']
['성동구', '성수동1가', '656-334']
['성동구', '성수동2가', '284-55']
['성동구', '금호동4가', '금호로']
['성동구', '성수동1가', '상원6길']
['성동구', '성수동2가', '성수이로']
['성동구', '하왕십리동', '843']
['성동구', '상왕십리동', '289-5']
['성동구', '상왕십리동', '302-2']
['성동구', '하왕십리동', '674-1']
['성동구', '사근동', '110']
['성동구', '행당동', '행당로']
['성북구', '안암동5가', '1-2']
['성북구', '안암동5가', '126-16']
['성북구', '정릉동', '861-1']
['성북구', '돈암동', '643']
['성북구', '길음동', '1283']
['성북구', '장위동', '317']
['성북구', '하월곡동', '224']
['성북구', '돈암동', '603']
['성북구', '돈암동', '524']
['성북구', '돈암동', '1-3']
['성북구', '하월곡동', '88-387']
['성북구', '석관동', '410']
['성북구', '보문동4가', '116']
['성북구', '돈암동', '636']
['성북구', '삼선동3가', '116']
['성북구', '삼선동2가', '425']
['성북구', '삼선동2가', '294-8']
['성북구', '석관동', '10']
['성북구', '상월곡동', '101']
['성북구', '정릉동', '1035']
['성북구', '정릉동', '1028']
['성북구', '정릉동', '239']
['성북구', '종암동', '80']
['성북구', '동소문동7가', '23']
['성북구', '동소문로', '315']
['송파구', '가락동', '154']
['강동구', '천호동', '']
['송파구', '가락동', '동남로']
['송파구', '가락동', '중대로12길']
['송파구', '잠실동', '40']
['송파구', '거여동', '양산로8길']
['송파구', '거여동', '195-1']
['송파구', '거여동', '양산로4길']
['송파구', '거여동', '양산로4길']
['강동구', '천호동', '']
['송파구', '잠실동', '잠실로']
['강동구', '천호동', '']
['송파구', '성내천로43길', '6']
['송파구', '문정동', '38-3']
['송파구', '문정동', '문정로']
['송파구', '오금로', '27길']
['송파구', '삼전동', '175-8']
['송파구', '송파동', '128']
['송파구', '신천동', '29-5']
['송파구', '장지동', '516']
['송파구', '장지동', '879']
['송파구', '오금동', '51']
['송파구', '송파동', '오금로32길']
['송파구', '가락동', '송파대로28길']
['송파구', '장지동', '위례광장로']
['송파구', '장지동', '송파대로8길']
['송파구', '장지동', '833']
['송파구', '장지동', '충민로4길']
['송파구', '충민로6길', '14']
['송파구', '충민로', '4길']
['송파구', '송파대로', '8길']
['송파구', '마천동', '성내천로37길']
['송파구', '마천동', '성내천로47길']
['송파구', '풍납동', '풍성로26길']
['송파구', '거여동', '28']
['송파구', '오금동', '51']
['송파구', '장지동', '380-1']
['송파구', '장지동', '위례광장로']
['송파구', '장지동', '위례광장로']
['강동구', '천호동', '']
['송파구', '잠실동', '250-5']
['강동구', '천호동', '']
['강동구', '천호동', '']
['송파구', '풍납동', '토성로']
['송파구', '신천동', '7-11']
['송파구', '송파동', '송파대로48길']
['양천구', '신월동', '263']
['양천구', '신정동', '319-15']
['양천구', '신정동', '319-1']
['양천구', '신월동', '446-4']
['양천구', '목동', '965-1']
['양천구', '목동', '755-1']
['양천구', '목동', '961']
['양천구', '신정동', '337']
['양천구', '신정동', '318-10']
['양천구', '목동', '905-22']
['양천구', '신정동', '중앙로36길']
['양천구', '목동', '908-28']
['양천구', '목동', '900']
['양천구', '신월동', '남부순환로56길']
['양천구', '신월동', '217-8']
['양천구', '신월로20길', '7']
['양천구', '신정동', '1311']
['양천구', '신정동', '1310']
['양천구', '신정동', '1324']
['양천구', '신정이펜2로', '55']
['양천구', '신정동', '321-4']
['양천구', '신월동', '1026']
['양천구', '신월동', '506-1']
['양천구', '신정동', '1281']
['양천구', '목동', '923-5']
['영등포구', '여의도동', '1']
['영등포구', '여의도동', '21']
['영등포구', '문래동3가', '80']
['영등포구', '문래동3가', '80']
['영등포구', '당산동3가', '385']
['영등포구', '당산동2가', '16-1']
['영등포구', '대림동', '608-1']
['영등포구', '대림동', '870']
['영등포구', '대림동', '780']
['영등포구', '여의도동', '의사당대로']
['영등포구', '문래동3가', '93-1']
['영등포구', '문래동3가', '97']
['영등포구', '문래동3가', '당산로4길']
['영등포구', '문래동3가', '문래로']
['강남구', '길동']
['강남구', '길동']
['영등포구', '당산동4가', '93-6']
['영등포구', '영등포로', '351']
['강남구', '길동']
['강남구', '길동']
['영등포구', '양평동5가', '76']
['영등포구', '여의도동', '18']
['영등포구', '당산동3가', '3']
['영등포구', '당산동3가', '370-4']
['강남구', '길동']
['영등포구', '도림동', '도영로']
['영등포구', '경인로', '878']
['용산구', '이촌동', '이촌로64길']
['용산구', '용산동6가', '11-426']
['용산구', '한강로1가', '64']
['용산구', '이촌로', '100-8']
['용산구', '이촌동', '이촌로']
['용산구', '백범로', '341']
['용산구', '원효로1가', '백범로']
['용산구', '원효로1가', '원효로90길']
['용산구', '한강로3가', '서빙고로']
['용산구', '문배동', '백범로90길']
['용산구', '한강로3가', '40-999']
['용산구', '문배동', '백범로90길']
['용산구', '한강로3가', '12']
['용산구', '한강로1가', '50-1']
['용산구', '용산동2가', '녹사평대로']
['용산구', '문배동', '청파로']
['용산구', '이태원로', '29']
['용산구', '삼개로', '60']
['용산구', '용산동5가', '서빙고로']
['용산구', '문배동', '백범로90길']
['용산구', '이촌동', '이촌로']
['용산구', '한남동', '서빙고로']
['은평구', '진관동', '65-31']
['은평구', '통일로', '659']
['은평구', '역촌동', '산']
['은평구', '백련산로', '90']
['은평구', '진관동', '81']
['은평구', '진관동', '62']
['강북구', '번동', '']
['은평구', '불광천길', '436']
['은평구', '역촌동', '9-54']
['종로구', '관철동', '7-3']
['종로구', '내수동', '사직로8길']
['종로구', '사직동', '사직로8길']
['종로구', '소격동', '165-10']
['종로구', '구기동', '비봉2길']
['종로구', '명륜2가', '창경궁로']
['종로구', '무악동', '통일로']
['종로구', '연건동', '28-21']
['종로구', '연건동', '28-21']
['종로구', '연건동', '28-2']
['종로구', '수송동', '80-6']
['종로구', '무악동', '통일로']
['종로구', '숭인동', '동망산길']
['종로구', '창신동', '지봉로5길']
['종로구', '창신동', '낙산길']
['종로구', '창신동', '지봉로']
['종로구', '인의동', '종로']
['중구', '만리동1가', '231']
['중구', '장충동2가', '산']
['중구', '소공로', '35']
['중구', '충무로4가', '퇴계로']
['중구', '회현동1가', '산']
['중구', '다산로', '32']
['중구', '순화동', '서소문로9길']
['중구', '을지로7가', '2-1']
['중구', '황학동', '청계천로']
['중구', '충무로5가', '21']
['중구', '태평로1가', '31']
['중구', '봉래동2가', '122']
['중구', '남산동3가', '11-10']
['중구', '남대문로', '92']
['중구', '소공로', '46']
['중구', '신당동', '349-234']
['중구', '명동1가', '4-1']
['중구', '다동', '85-4']
['중랑구', '동일로', '862']
['중랑구', '면목동', '1081-1']
['중랑구', '면목동', '면목로37길']
['중랑구', '면목동', '사가정로42길']
['중랑구', '면목동', '동일로']
['중랑구', '묵동', '숙선옹주로']
['중랑구', '묵동', '동일로']
['중랑구', '묵동', '공릉로18길']
['중랑구', '상봉동', '상봉중앙로1다길']
['중랑구', '신내동', '654']
['중랑구', '상봉동', '봉화산로']
['중랑구', '상봉동', '1']
['중랑구', '신내동', '신내역로1길']
['중랑구', '상봉동', '485']
['중랑구', '망우동', '망우로75길']
['중랑구', '망우동', '양원역로']
['중랑구', '중화동', '73-6']
['중랑구', '상봉동', '81-5']

In [78]:
df_ch_seoul.loc[df_ch_seoul['주소'].str.contains('신림로3가길'), '주소'] = '서울특별시 관악구 신림동 '

In [54]:
df_ch_seoul[df_ch_seoul['주소'].str.contains('명일동')]

,주소,급속충전기(대),완속충전기(대),지원차종
82,서울특별시 강동구 명일동,2,0,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E..."
83,서울특별시 강동구 명일동,1,0,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E..."
84,서울특별시 강동구 명일동,0,2,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E..."

In [ ]:
df_ch_seoul.to_csv('./충전소 1차 편집.csv', encoding = 'cp9')