In [1]:
import pandas as pd
import plotly.express as px

# 서울 특별시 자동차 등록수 전처리

In [ ]:
# 자료 불러오기

In [13]:
df_2018 = pd.read_csv('./data/서울특별시 행정동별 친환경자동차 현황-제원번호 포함 자료(2018).csv', encoding = 'cp949')

In [14]:
df_2019 = pd.read_csv('./data/서울특별시 행정동별 친환경자동차 현황-제원번호 포함 자료(2019).csv', encoding = 'cp949')

In [15]:
df_2020 = pd.read_csv('./data/서울특별시 행정동별 친환경자동차 현황-제원번호 포함 자료(2020).csv', encoding = 'cp949')

In [16]:
df_2021 = pd.read_csv('./data/서울특별시 행정동별 친환경자동차 현황-제원번호 포함 자료(2021).csv', encoding = 'cp949')

In [17]:
df_2022 = pd.read_csv('./data/서울특별시 행정동별 친환경자동차 현황-제원번호 포함 자료(2022).csv', encoding = 'cp949')

In [29]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84540 entries, 0 to 84539
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준년도             84540 non-null  object
 1   사용본거지시읍면동_행정동기준  84522 non-null  object
 2   차명               84540 non-null  object
 3   연료               84540 non-null  object
 4   최초등록일            84540 non-null  int64
 5   현소유자의출생년도        63085 non-null  float64
 6   제원관리번호           84540 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 4.5+ MB

In [ ]:
# 기준년월 칼럼값변경

In [28]:
df_2018['기준년도'] = "2018"

In [30]:
df_2019['기준년월'] = '2019'

In [31]:
df_2020['기준년월'] = '2020'

In [32]:
df_2021['기준년월'] = '2021'

In [33]:
df_2022['기준년월'] = '2022'

In [ ]:
# 기준년월 컬럼명 변경

In [26]:
df_2018.rename(columns = {"기준년월" : "기준년도"}, inplace = True)

In [34]:
df_2019.rename(columns = {"기준년월" : "기준년도"}, inplace = True)

In [35]:
df_2020.rename(columns = {"기준년월" : "기준년도"}, inplace = True)

In [36]:
df_2021.rename(columns = {"기준년월" : "기준년도"}, inplace = True)

In [37]:
df_2022.rename(columns = {"기준년월" : "기준년도"}, inplace = True)

In [ ]:
# 필요없는 데이터 컬럼 삭제

In [54]:
df_2022.drop(['최초등록일' , '현소유자의출생년도', '제원관리번호'], axis = 1 , inplace = True)

In [55]:
df_2022

        기준년도 사용본거지시읍면동_행정동기준                    차명             연료
0       2022  서울특별시 강남구 개포1동   토요타 RAV4 Hybrid AWD  하이브리드(휘발유+전기)
1       2022  서울특별시 강남구 개포1동             그랜저 하이브리드  하이브리드(휘발유+전기)
2       2022  서울특별시 강남구 개포1동      토요타 Camry Hybrid  하이브리드(휘발유+전기)
3       2022  서울특별시 강남구 개포1동            렉서스 ES300h  하이브리드(휘발유+전기)
4       2022  서울특별시 강남구 개포1동   토요타 RAV4 Hybrid AWD  하이브리드(휘발유+전기)
...      ...             ...                   ...            ...
189581  2022  서울특별시 중랑구 중화2동      토요타 Camry Hybrid  하이브리드(휘발유+전기)
189582  2022  서울특별시 중랑구 중화2동   그랜저(GRANDEUR) 하이브리드  하이브리드(휘발유+전기)
189583  2022  서울특별시 중랑구 중화2동              니로 하이브리드  하이브리드(휘발유+전기)
189584  2022  서울특별시 중랑구 중화2동  포터Ⅱ 일렉트릭 (PORTERⅡ EL             전기
189585  2022             NaN              K5 하이브리드  하이브리드(휘발유+전기)

[189586 rows x 4 columns]

In [ ]:
# 1차 전처리한 데이터 csv형식으로 저장

In [59]:
df_2018.to_csv('2018년도 전기차 현황.csv', encoding = 'cp949')

In [60]:
df_2019.to_csv('2019년도 전기차 현황.csv', encoding = 'cp949')

In [61]:
df_2020.to_csv('2020년도 전기차 현황.csv', encoding = 'cp949')

In [62]:
df_2021.to_csv('2021년도 전기차 현황.csv', encoding = 'cp949')

In [63]:
df_2022.to_csv('2022년도 전기차 현황.csv', encoding = 'cp949')

# 1차 전처리한 데이터로 진행

In [ ]:
# nan값 확인 및 삭제

In [100]:
df_2018.isnull().sum()

기준년도                0
사용본거지시읍면동_행정동기준    18
차명                  0
연료                  0
dtype: int64

In [96]:
df_2018[df_2018['사용본거지시읍면동_행정동기준'].isnull()]

       기준년도 사용본거지시읍면동_행정동기준                    차명             연료
2232   2018             NaN              K5 하이브리드  하이브리드(휘발유+전기)
4460   2018             NaN             토요타 Prius  하이브리드(휘발유+전기)
4461   2018             NaN   그랜저(GRANDEUR) 하이브리드  하이브리드(휘발유+전기)
4925   2018             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
5706   2018             NaN  아반떼 하이브리드(AVANTE HYB  하이브리드(LPG+전기)
19977  2018             NaN  그랜저 하이브리드 (GRANDEUR   하이브리드(휘발유+전기)
28685  2018             NaN            렉서스 RX450h  하이브리드(휘발유+전기)
33120  2018             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
36334  2018             NaN  그랜저 하이브리드 (GRANDEUR   하이브리드(휘발유+전기)
36912  2018             NaN              K5 하이브리드  하이브리드(휘발유+전기)
37058  2018             NaN              K5 하이브리드  하이브리드(휘발유+전기)
47561  2018             NaN    쏘나타 (SONATA) 하이브리드  하이브리드(휘발유+전기)
61445  2018             NaN               INSIGHT  하이브리드(휘발유+전기)
66386  2018             NaN            렉서스 NX300h  하이브리드(휘발유+전기)
66387  2018             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
71550  2018             NaN                BMW i3             전기
72665  2018             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
80231  2018             NaN            렉서스 ES300h  하이브리드(휘발유+전기)

In [101]:
df_2019.isnull().sum()

기준년도                0
사용본거지시읍면동_행정동기준    15
차명                  0
연료                  0
dtype: int64

In [99]:
df_2019[df_2019['사용본거지시읍면동_행정동기준'].isnull()]

        기준년도 사용본거지시읍면동_행정동기준                    차명             연료
16827   2019             NaN            렉서스 NX300h  하이브리드(휘발유+전기)
42847   2019             NaN  그랜저 하이브리드 (GRANDEUR   하이브리드(휘발유+전기)
50406   2019             NaN               INSIGHT  하이브리드(휘발유+전기)
59215   2019             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
62462   2019             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
66902   2019             NaN              K5 하이브리드  하이브리드(휘발유+전기)
74072   2019             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
80441   2019             NaN            렉서스 RX450h  하이브리드(휘발유+전기)
86602   2019             NaN              K5 하이브리드  하이브리드(휘발유+전기)
89595   2019             NaN              K5 하이브리드  하이브리드(휘발유+전기)
91682   2019             NaN  아반떼 하이브리드(AVANTE HYB  하이브리드(LPG+전기)
93442   2019             NaN   그랜저(GRANDEUR) 하이브리드  하이브리드(휘발유+전기)
103801  2019             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
104208  2019             NaN  그랜저 하이브리드 (GRANDEUR   하이브리드(휘발유+전기)
106086  2019             NaN              K5 하이브리드  하이브리드(휘발유+전기)

In [102]:
df_2020.isnull().sum()

기준년도                0
사용본거지시읍면동_행정동기준    11
차명                  0
연료                  0
dtype: int64

In [105]:
df_2020[df_2020['사용본거지시읍면동_행정동기준'].isnull()]

        기준년도 사용본거지시읍면동_행정동기준                    차명             연료
36923   2020             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
48459   2020             NaN              K5 하이브리드  하이브리드(휘발유+전기)
55030   2020             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
55222   2020             NaN               INSIGHT  하이브리드(휘발유+전기)
59625   2020             NaN              K5 하이브리드  하이브리드(휘발유+전기)
73601   2020             NaN            렉서스 RX450h  하이브리드(휘발유+전기)
82663   2020             NaN            렉서스 NX300h  하이브리드(휘발유+전기)
92360   2020             NaN              K5 하이브리드  하이브리드(휘발유+전기)
107939  2020             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
118404  2020             NaN  그랜저 하이브리드 (GRANDEUR   하이브리드(휘발유+전기)
140015  2020             NaN   그랜저(GRANDEUR) 하이브리드  하이브리드(휘발유+전기)

In [103]:
df_2021.isnull().sum()

기준년도                0
사용본거지시읍면동_행정동기준    11
차명                  0
연료                  0
dtype: int64

In [106]:
df_2021[df_2021['사용본거지시읍면동_행정동기준'].isnull()]

        기준년도 사용본거지시읍면동_행정동기준                    차명             연료
7385    2021             NaN              K5 하이브리드  하이브리드(휘발유+전기)
43428   2021             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
45554   2021             NaN   그랜저(GRANDEUR) 하이브리드  하이브리드(휘발유+전기)
48171   2021             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
62257   2021             NaN              K5 하이브리드  하이브리드(휘발유+전기)
90611   2021             NaN               INSIGHT  하이브리드(휘발유+전기)
124065  2021             NaN  그랜저 하이브리드 (GRANDEUR   하이브리드(휘발유+전기)
134770  2021             NaN            렉서스 NX300h  하이브리드(휘발유+전기)
166329  2021             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
169686  2021             NaN            렉서스 RX450h  하이브리드(휘발유+전기)
176128  2021             NaN              K5 하이브리드  하이브리드(휘발유+전기)

In [104]:
df_2022.isnull().sum()

기준년도                0
사용본거지시읍면동_행정동기준    11
차명                  0
연료                  0
dtype: int64

In [108]:
df_2022[df_2022['사용본거지시읍면동_행정동기준'].isnull()]

        기준년도 사용본거지시읍면동_행정동기준                    차명             연료
14729   2022             NaN            렉서스 RX450h  하이브리드(휘발유+전기)
24829   2022             NaN               INSIGHT  하이브리드(휘발유+전기)
39497   2022             NaN  그랜저 하이브리드 (GRANDEUR   하이브리드(휘발유+전기)
53971   2022             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
88938   2022             NaN   그랜저(GRANDEUR) 하이브리드  하이브리드(휘발유+전기)
101499  2022             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
133656  2022             NaN              K5 하이브리드  하이브리드(휘발유+전기)
173526  2022             NaN            렉서스 ES300h  하이브리드(휘발유+전기)
177254  2022             NaN              K5 하이브리드  하이브리드(휘발유+전기)
186849  2022             NaN            렉서스 NX300h  하이브리드(휘발유+전기)
189585  2022             NaN              K5 하이브리드  하이브리드(휘발유+전기)

In [ ]:
# nan값이 있었지만 해당 데이터가 전기차 데이터가 아니어서 삭제함

In [115]:
df_2022.dropna(inplace = True)

In [ ]:
# 하나의 데이터 프레임으로 합치기

In [120]:
df2018_2022 = pd.concat([df_2018, df_2019, df_2020, df_2021, df_2022], ignore_index = True)

In [121]:
df2018_2022

        기준년도 사용본거지시읍면동_행정동기준                    차명             연료
0       2018  서울특별시 강남구 압구정동    쏘나타 (SONATA) 하이브리드  하이브리드(휘발유+전기)
1       2018  서울특별시 강남구 압구정동            렉서스 ES300h  하이브리드(휘발유+전기)
2       2018  서울특별시 강남구 압구정동    쏘나타 (SONATA) 하이브리드  하이브리드(휘발유+전기)
3       2018  서울특별시 강남구 압구정동    쏘나타 (SONATA) 하이브리드  하이브리드(휘발유+전기)
4       2018  서울특별시 강남구 압구정동            렉서스 ES300h  하이브리드(휘발유+전기)
...      ...             ...                   ...            ...
705360  2022  서울특별시 중랑구 중화2동             쏘렌토 하이브리드  하이브리드(휘발유+전기)
705361  2022  서울특별시 중랑구 중화2동      토요타 Camry Hybrid  하이브리드(휘발유+전기)
705362  2022  서울특별시 중랑구 중화2동   그랜저(GRANDEUR) 하이브리드  하이브리드(휘발유+전기)
705363  2022  서울특별시 중랑구 중화2동              니로 하이브리드  하이브리드(휘발유+전기)
705364  2022  서울특별시 중랑구 중화2동  포터Ⅱ 일렉트릭 (PORTERⅡ EL             전기

[705365 rows x 4 columns]

In [ ]:
# 2018년도에서 2022년도까지의 자동차 등록 데이터에서 전기차 데이터만 데이터프레임으로 만들기

In [130]:
df = df2018_2022[df2018_2022['연료'] == '전기']

In [132]:
df.reset_index(drop = False, inplace = True)

In [136]:
df.drop('index', axis = 1, inplace = True)

C:\Users\YONSAI\AppData\Local\Temp\ipykernel_8580\3428817810.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('index', axis = 1, inplace = True)

In [ ]:
# 2018년도 서울특별시 전기차 등록수 9560대
# 2019년도 서울특별시 전기차 등록수 14947대
# 2020년도 서울특별시 전기차 등록수 23384대
# 2021년도 서울특별시 전기차 등록수 40544대
# 2022년도2월까지 서울특별시 전기차 등록수 41673대
# 총 등록된 전기차 수 130108

In [144]:
df

        기준년도 사용본거지시읍면동_행정동기준                      차명  연료
0       2018  서울특별시 송파구 잠실6동    아이오닉 일렉트릭(IONIQ ELEC  전기
1       2018  서울특별시 강남구 역삼1동                   TWIZY  전기
2       2018  서울특별시 구로구 개봉1동                   쏘울 EV  전기
3       2018  서울특별시 강동구 천호3동  코나 일렉트릭 (KONA ELECTRIC  전기
4       2018   서울특별시 송파구 장지동  코나 일렉트릭 (KONA ELECTRIC  전기
...      ...             ...                     ...  ..
130103  2022  서울특별시 중랑구 중화1동                   니로 EV  전기
130104  2022  서울특별시 중랑구 중화1동      Model Y Long Range  전기
130105  2022  서울특별시 중랑구 중화1동    포터Ⅱ 일렉트릭 (PORTERⅡ EL  전기
130106  2022  서울특별시 중랑구 중화2동                   니로 EV  전기
130107  2022  서울특별시 중랑구 중화2동    포터Ⅱ 일렉트릭 (PORTERⅡ EL  전기

[130108 rows x 4 columns]

# 서울특별시 전기차 충전소 전처리

In [18]:
df_ch = pd.read_excel('./Data/전기차 충전소 설치현황_20221206.xls', header=2)

In [19]:
df_ch

,시구,설치장소,주소,급속충전기(대),완속충전기(대),지원차종
0,전체,가평소방서,경기도 가평군 가평읍 대곡리 213-5,1,0,"SM3 Z.E,테슬라"
1,전체,가평종합운동장,경기도 가평군 가평읍 대곡리 316,2,0,"BMW i3,스파크EV,볼트EV"
2,전체,가평지사,경기도 가평군 가평읍 가화로 169-11,1,1,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E..."
3,전체,가평하수도사업소,경기도 가평군 가평읍 달전리 364,1,0,"SM3 Z.E,테슬라"
4,전체,상면사무소,경기도 가평군 상면 연하리 171-1,1,0,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E..."
...,...,...,...,...,...,...
4707,전체,안흥찐빵모락모락마을,강원도 횡성군 안흥면 안흥리 1063,1,0,"SM3 Z.E,테슬라"
4708,전체,우천일반산업단지,강원도 횡성군 우천면 상하가리 440,1,0,"SM3 Z.E,테슬라"
4709,전체,원흥2차 아파트,강원도 횡성군 횡성읍 읍하리 395-2,0,1,"SM3 Z.E,레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트E..."
4710,전체,횡성국민체육센터,강원도 횡성군 횡성읍 읍하리 260,1,0,"SM3 Z.E,테슬라"
4711,전체,횡성지사,강원도 횡성군 횡성읍 읍하리 561-7,0,1,"레이EV,소울EV,닛산리프,아이오닉EV,BMW i3,스파크EV,볼트EV"